body{
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
/*global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.current{
  background-color:#005EB8;
}
.blue{
  padding:15px;
  background: #3366cc;
  color: #ffffff;
  margin top: 10px;
  margin-bottom: 10px;
}
.lightblue{
  padding:15px;
  background: #5781d5;
  color: #ffffff;
  margin top: 10px;
  margin-bottom: 10px;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.branding{
  float: left;
}
/*header **/
header{
  background: #0072CE;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: #231f20 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top: 45px;
  margin-left: 0px;
}
header #branding{
  float: left;
}
header a:hover{
  color: #41B6E6;
  font-weight: bold;
}
header img{
  height: 120px;
  width: auto;
  padding: 0;
  margin: 0;

}

/* showcase */
#showcase{
  min-height: 400px;
  background-image:url('../img/showcase.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px,center;
  width: auto;
  height: auto;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 100px;
  font-size:55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}
#pagebreak{
  padding: 15px;
  background: #0072CE;
}
/* boxes */
#boxes{
  margin:0;
  background-color: #E8EDEE;
}

#boxes .box{
  margin-top: 10px;
  width: 42%;
  height: 200px;
  padding: 15px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;

}

#boxes .box img{
  width: 90px;
}
#boxes a{
  color: #231f20;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
/*sidebar*/
aside#sidebar{
  float: right;
  width:33%;
  margin-top: 10px;
  background-color: #3366cc;
  text-align: center;
  color :#ffffff;
  font-size: 24px;

}
article#main-col{
  float: left;
  width: 65%;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 100px;
  color: #ffffff;
}


footer{
  padding: 20px;
  color: #ffffff;
  text-align:center;
  background-color: #0072CE;
}
